<!DOCTYPE html>
<html>
<head>
<title>Sensor Data Collection</title>
<meta http-equiv="refresh" content="3">

<link rel='stylesheet' href='/sensors/stylesheets/screen.css' />
</head>

<body>
    <div id="layout">
    <h1 id="page-title">Sensor Data Collection</h1>
    </br>
    </br>
    <div align="center">
    <h2 > == Display the lastest 10 records == </h2>
    </div>

    </br>

        <div id="list">
            <% var i = 0 %>
            <% sensors.forEach( function ( sensor ){ %>
            <% i++ %>
            <% if(i === 1) {%>
            <div class="item-new">
                <p>
                    <%= sensor.CREATED_AT.toString().substr(4,20) %>, 
                    ID: <%= sensor.ID %>, 
                    Type: <%= sensor.TYPE %>,
                    Location: <%= sensor.LOCATION %>,
                    Value: <%= sensor.VALUE %>
                </p>
            </div>
            <% }else{ %>
            <div class="item">
                <p>
                    <%= sensor.CREATED_AT.toString().substr(4,20) %>, 
                    ID: <%= sensor.ID %>, 
                    Type: <%= sensor.TYPE %>,
                    Location: <%= sensor.LOCATION %>,
                    Value: <%= sensor.VALUE %>
                </p>
            </div>
            <% } %>
            <% }); %>
        </div>
    </div>

    <div id="layout-footer">
    </div>
    <div id="footer-wrap">
      <div id="footer">
        <div class="footer-content"><a id="github-link" href="http://www.juma.io" target="_blank">Code</a> by</div>
        <a href="http://www.juma.io" id="dreamerslab" target="_blank">Juma Lab</a>
        <div class="footer-content">&#169;</div>
      </div>
    </div>

</body>
</html>
